{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/horses/horse-detail.css' %}" />
{% endblock %} 

{% block content %}
<section class="horse-container">
  <div class="horse-img">
    <img src="{% static 'images/second.png' %}" alt="Horse" style="width:200px; height:auto;" />
  </div>
  <div class="horse-details">
    <h1>{{ horse.name }}</h1>
    {% if horse.age > 0 %}
      <h2>A {{ horse.age }} year old {{ horse.species }}</h2>
    {% else %}
      <h2>A young {{ horse.species }} foal.</h2>
    {% endif %}
    <p>{{ horse.description }}</p>
    <div class="horse-actions">
    <a href="{% url 'horse-update' horse.id %}" class="btn warn">Edit</a>
    <a href="{% url 'horse-delete' horse.id %}" class="btn danger">Delete</a>
  </div>


  </div>
</section>
{% endblock %}
