<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horse Collector</title>
  </head>
  <body>
{% extends 'base.html' %} 
{% block content %}
<h1>About Horse Collector</h1>
<hr />
<p class="page-content">
 This is a simple web application to collect and manage information about horses.</p>
 <a href="{% url 'home' %}">Back to Home</a>
{% endblock %}
    
    
    
  </body>
</html>